* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

h1 {
    text-align: center;
    background-color: rgba(13, 21, 56, 0.76);
    color: white;
    font-size: 1.15rem;
    padding: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

h2 {
    text-align: center;
    font-size: 1.25rem;
    padding: 1.25rem;
}

.signup_info {
    color: gray;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 15px;
    border-bottom: solid 4px black;
    margin-left: 1rem;
    margin-right: 1rem
}

form {
    border-top: solid 2px black;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2px;
}
fieldset {
    border: none;
    border-bottom: solid 3px rgba(0, 0, 0, 0.747);
    padding-bottom: 1.5rem;
}

legend {
    font-size: 1.15rem;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

label {
    color: gray;
    font-size: 14px;
    margin-top: 5rem;
}

input[type=text], input[type=email], select, input[type=tel] {
    border: none;
    background-color: rgba(241, 241, 241, 0.801);
    padding: 1rem;
    width: 100%;
    margin-top: .75rem;
    margin-bottom: .75rem;
    border-radius: 5px;
}

::placeholder {
    text-align: right;
    font-style: italic;
    font-size: 12px;
    margin-right: 5px;
    color: rgb(192, 173, 173)
}

select:invalid {
    color: gray;
} 

:focus {
    outline: 0;
  }

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, textarea:focus, select:focus {
    border: 2px solid rgba(22, 22, 92, 0.678);
    border-radius: 5px;
}

option[value=""] {
    color:rgb(192, 173, 173);
}

input[id="zip"] {
    border: none;
    background-color: rgba(241, 241, 241, 0.801);
    padding: 1rem;
    width: 50%;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.letters {
    padding: 1rem;
}

textarea {
    border: none;
    background-color: rgba(241, 241, 241, 0.801);
    width: 100%;
    padding-bottom: 4rem;
    border-radius: 5px;
}


#field2 {
    border-bottom: none;
}

input[type=submit] {
    border: none;
    padding: 1rem;
    width: 100%;
    background-color: rgba(31, 189, 189, 0.705);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
}

#copyright {
    text-align: center;
    color: rgb(192, 173, 173);
    padding: 1.5rem;
    font-size: .75rem;
}



/* MEDIA */

@media (min-width: 768px) {    

#formbody {
    max-width: 60%;
    margin: auto;
}

.desktop-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-mode-inputs {
    width: 70%;
}
input[id="zip"] {
    width: 25%;
}
}